.hero{
  background-color: #000000;
  z-index: -1;
}
#background-video {
  width: 100vw;

  object-fit: contain;
  position: absolute;
  left: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: grid;
}
.container-card {
  height: 80vh;
  color: white;;
  margin-left: 35%;
  position: absolute;
  padding-top: 4%;
  display: grid;
  z-index: 123;
}
.h2-text,
.h3-text,
.h4-text {
  font-family: Montserrat;
}
.h2-text {
  font-size: 3rem;
  margin-left: -1.7%;
  margin-top: 2%;
}
.h3-text {
  font-size: 1.7rem;
  padding-bottom: 1.5%;
  margin-left: -1%;
  margin-top: -3%;
}
.h4-text {
  font-size: 1.3rem;
  margin-top: -2.5%;
  text-decoration: none;
  transition: all 0.2s;
}
.h4-text:hover {
  color: #01c9ca;
}
i {
  color: goldenrod;
}

@media (max-width: 450px) {
  #background-video {
    max-width: 100%;
    min-height: fit-content;
  }
  .container-card{
    min-height: fit-content;
    width: auto;
  }
  body {
    max-width: 100%;
    height: auto;
  }
}
